{% extends 'base.html' %}
{% load static %}

{% block title %}
Password Change Successful
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'forms.css' %}">
{% endblock stylesheet %}

{% block body %}

<div class="container text-dark">
    <!-- outer row -->
    <div class="row justify-content-center mt-5">
        <div class="col-lg-6 bg-white">
            <div class="p-3 p-sm-4 p-md-5">
                <div class="alert alert-success" role="alert">
                    <strong>success! </strong>Your password has been changed!
                </div>
                <a href="{% url 'my_account' %}" class="btn btn-secondary">Return To Home Page</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}