{% extends 'base.html' %}
{% load static %}

{% block title %}

{% if validlink %}
change password for {{ form.user.username }}
{% else %}
Reset Your Password
{% endif %}
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'forms.css' %}">
{% endblock stylesheet %}

{% block body %}

<div class="container text-dark">
    <!-- outer row -->
    <div class="row justify-content-center mt-5">
        <div class="col-lg-6 bg-white">
            <div class="p-3 p-sm-4 p-md-5">
                {% if validlink %}
                <h3>change password for @{{ form.user.username }}</h3>
                {% include 'includes/form.html' %}
                <button type="submit" form="general-form" class="btn btn-block btn-primary form-rounded">Change
                    Password</button>
                {% else %}
                <h3 class="card-title">Reset Your Password</h3>
                <div class="alert alert-danger" role="alert">
                    <strong>Sorry!</strong> It looks like you clicked on an invalid password reset link. Please try
                    again.
                </div>
                <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Request a new password
                    reset
                    link</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock body %}