{% extends 'd_base.html' %}



{% block title %}
@{{request.user.username}} | Courses
{% endblock title %}


{% block page_content %}
<!-- displaying the non form field errors -->
{% for message in messages %}
<div {% if message.tags == "warning"  %} class="alert alert-danger" {% else %} class="alert alert-{{ message.tags }}"
    {% endif %} role="alert">
    <strong>{% if message.tags == "warning"  %} Error {% else %} {{ message.tags }} {% endif %}</strong>
    <p>{{ message }}</p>
</div>
{% endfor %}
<div class="container text-dark">
    <h1 class="mb-3 h1">Select <span class="text-secondary">Course</span></h1>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Quran With Tajweed</div>
                            <a href="{% url 'dashboard:courses_data' 1 %}"
                                class="card-link h5 mb-0 font-weight-bold text-secondary">Get
                                Admission</a>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-plus fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mt-4 mt-lg-0">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Islam For Kids</div>
                            <a href="{% url 'dashboard:courses_data' 2 %}"
                                class="card-link stretched-link h5 mb-0 font-weight-bold text-success">Get
                                Admission</a>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-plus fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mt-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Noorani Qauida</div>
                            <a href="{% url 'dashboard:courses_data' 3 %}"
                                class="card-link stretched-link h5 mb-0 font-weight-bold text-danger">Get
                                Admission</a>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-plus fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}