{% extends 'base.html' %}


{% block title %}
Contact Us
{% endblock title %}


{% block navbar-items %}
<!-- navbar items -->
<ul class="navbar-nav ml-auto mt-2 mt-lg-0 align-items-lg-center">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:index' %}">Home</a>
    </li>
    <li class="nav-item"><a class="nav-link" href="{% url 'main:about' %}">About</a></li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#!" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Courses</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="{% url 'main:quran_with_tajweed' 1 %}">Quran With Tajweed</a>
            <a class="dropdown-item" href="{% url 'main:islam_for_kids' 2 %}">Isalm For Kids</a>
            <a class="dropdown-item" href="{% url 'main:noorani_qauida' 3 %}">Noorani Qaida</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="!#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Fee Chart</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="{% url 'main:courses' 1 %}">Quran With Tajweed</a>
            <a class="dropdown-item" href="{% url 'main:courses' 2 %}">Isalm For Kids</a>
            <a class="dropdown-item" href="{% url 'main:courses' 3 %}">Noorani Qaida</a>
        </div>
    </li>
    <li class="nav-item active"><a class="nav-link" href="{% url 'main:contact' %}">Contact <span
                class="sr-only">(current)</span></a></li>

    {% if user.is_authenticated %}
    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow ml-0 ml-lg-4">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#!" id="userDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="img-profile rounded-circle" style="width: 30px; height: 30px;"
                src="{{ request.user.student.profile_image.url }}">
            <span class="ml-2 mr-1 text-gray-600 small" style="font-size: 18px;">{{request.user.username}}</span>
        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="{% url 'dashboard:dashboard' request.user.id %}">
                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                Dashboard
            </a>
            <a class="dropdown-item" href="{% url 'my_account' %}">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
            </a>
            <a class="dropdown-item" href="#">
                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                Change Profile Image
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
            </a>
        </div>
    </li>
    {% else %}
    <li class="nav-item ml-0 ml-lg-4">
        <a href="{% url 'login' %}" class="btn btn-secondary">Login</a>
        <a href="{% url 'sign_up' %}" class="btn btn-outline-secondary">Register</a>
    </li>
    {% endif %}

</ul>
<!-- navbar items end -->
{% endblock navbar-items %}


{% block header %}
<h1 class="h1 display-4">Contact <span class="text-secondary">Us</span></h1>
{% endblock header %}


{% block main %}


{% if course %}
<div class="container text-dark text-center">
    <div class="my-4">
        <a href="{% url 'payments:checkout' course.id %}" class="btn btn-lg btn-secondary mb-4">Pay Online</a>
        <h2 class="text-center h2">OR</h2>
    </div>
</div>
{% endif %}

<!-- section - 1 - Contact Info -->
<h2 class="text-center text-dark my-4">Contact <span class="text-secondary">Us!</span></h2>

<section class="text-dark">
    <div class="container">
        <!-- displaying the non form field errors -->
        {% for message in messages %}
        <div class="alert alert-info" role="alert">
            <strong>Info!</strong>
            <p {% if forloop.last %} class="mb=0" {% endif %}>{{ message }}</p>
        </div>
        {% endfor %}

        <div class="row">
            <!-- Skype Info  -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card border-left-secondary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                    Skype ID</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Hafiz Muhammad Nabeel Ali</div>
                            </div>
                            <div class="col-auto">
                                <div class="icon text-center"><i
                                        style="border-color:#007bff;border-width:1px;background-color:#007bff;box-sizing:content-box;height:50px;width:50px;line-height:50px;border-radius:50%;color:#ffffff;font-size:30px;"
                                        class="fontawesome-icon fa-skype fab circle-yes"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Skype Info  -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Whats App Number</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">+92 3104608450</div>
                            </div>
                            <div class="col-auto">
                                <div class="icon text-center"><i
                                        style="border-color:#28a745;border-width:1px;background-color:#28a745;box-sizing:content-box;height:50px;width:50px;line-height:50px;border-radius:50%;color:#ffffff;font-size:30px;"
                                        class="fontawesome-icon fa-whatsapp fab circle-yes"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Skype Info  -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                    Mailing</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">al.siraj5670@gmail.com</div>
                            </div>
                            <div class="col-auto">
                                <div class="icon text-center"><i
                                        style="border-color:#de5246;border-width:1px;background-color:#de5246;box-sizing:content-box;height:50px;width:50px;line-height:50px;border-radius:50%;color:#ffffff;font-size:30px;"
                                        class="fontawesome-icon fa-envelope-open-text fas circle-yes"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-12 col-sm-12 col-lg-6">
                <h4 class="h4"><i class="fa fa-map-marker text-danger mr-3"></i><b>Location</b></h3>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3398.67802362246!2d74.36937331515226!3d31.58787618134732!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzHCsDM1JzE2LjQiTiA3NMKwMjInMTcuNiJF!5e0!3m2!1sen!2s!4v1607855172821!5m2!1sen!2s"
                        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col-12 col-sm-12 col-lg-6">
                <form class="bg-white form-in-col text-dark" method="POST" action="{% url 'main:contact' %}">
                    <h4 class="h4"><b>Get <span class="text-secondary">In Touch</span></b></h4>
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputFName">First Name</label>
                            <input type="text" required name="f_name" class="form-control" id="inputFName"
                                placeholder="Nabeel">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputLName">Last Name</label>
                            <input type="text" required name="l_name" class="form-control" id="inputLName"
                                placeholder="Chuadry">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" required name="user_email" class="form-control" id="inputEmail"
                            placeholder="nabeelchuadry123@gmail.com">
                    </div>
                    <div class="form-group">
                        <label for="InputMessage">Message</label>
                        <textarea class="form-control" required name="user_message" id="InputMessage" rows="5"
                            placeholder="need some help, please ask we would love help you.........."></textarea>
                    </div>
                    <button type="submit" class="btn btn-secondary">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- end of section - 1 - Contact Info -->
{% endblock main %}